* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.nav-wrapper {
   background-color: black;
  height: 7rem;
  display: flex;
  flex-direction: column;
  gap:1rem;
  justify-content: center;
  align-items: center;
}

.search-input {
  height: 3rem;
  width: 15rem;
  font-size: 1.5rem;
}


.product-wrapper {
  margin-top: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-evenly;

}

.product {
  border: 1px solid gray;
  padding: 1rem;
  text-align: center;
  height: 18rem;
  width: 20rem;
  overflow-y: auto;
}

.product-image {
  height: 200px;
  aspect-ratio: 3/4;
  text-align: center;
}

.search-sort-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sort-container>*{
  border: 2px solid white;
  border-radius: 50%;
}

.categories-container{
  height: 2.5rem;
  padding-left: 10px;
  padding-right: 10px;
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}

.category{
  height: 80%;
  background-color: brown;
  color: white;
  border-radius: 20%;
  border: none;
  padding: 4px;
}